.wrapper {
  display: grid;
  grid-template-columns: 150px 150px 150px 1fr;
  grid-column-gap: 10px;
  padding: 10px;
  background-color: var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
  color: var(--main-bg-color)
}

.text {
  border-right: 1px solid var(--main-bg-color);
}